@model Tweeter.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                <span id="suggestions"></span>
            </li>
            <li>
                @Html.LabelFor(m => m.emailAddress)
                @Html.EditorFor(m => m.emailAddress)
            </li>
            <li>
                @Html.LabelFor(m => m.firstName)
                @Html.TextBoxFor(m => m.firstName)
            </li>
            <li>
                @Html.LabelFor(m => m.lastName)
                @Html.TextBoxFor(m => m.lastName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>

        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $("#Password").passStrengthify();
    $("input#UserName").on('input', function () {
        //send the username, first, and last to the server
        var username = $("input#UserName").val();
        var firstname = $("input#firstName").val();
        var lastname = $("input#lastName").val();
        var data = {username:username};
        if(firstname != "") data.firstname = firstname;
        if(lastname != "") data.lastname = lastname;
        $.getJSON("/Account/CheckUserName", data, function (resp) {
            //do some stuff here
            if (resp.suggestions.length > 1) {
                $("span#suggestions").empty().append("User name already taken. Try one of these: ").append(resp.suggestions.join());
            } else {
                $("span#suggestions").empty();
            }
            
        });
    });
</script>