@model IEnumerable<Tweeter.Models.Post>

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p class="message-success">@TempData["message"]</p>
        </div>
    </section>
}
<h3>Recent Posts:</h3>
@foreach (var item in Model)
{
    <tr>
        <td>
            Text:
            @Html.DisplayFor(modelItem => item.postContent) <br>
            Number of likes: 
            @Html.DisplayFor(modelItem => item.numLikes)<br>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Post", new { id = item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Post", new { id = item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Post", new { id = item.Id }, null) |
            @Html.ActionLink("Like", "Like", "Post", new { id = item.Id }, null) <br><br>
        </td>
    </tr>
}

<h3>Followed Posts:</h3>

<h3>Liked Posts:</h3>
