@using Tweeter.Models

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p class="message-success">@TempData["message"]</p>
        </div>
    </section>
}
@if (WebSecurity.IsAuthenticated)
{
    @Html.Partial("_PostCreate", new Tweeter.Models.Post());
    @Html.Encode("Search posts by hashtag or username");
    <input type="text" id="postSearch" /><button onclick="submitSearch()">Search</button>
    <span>
    Order posts by
    <a class="pointer" id="orderByTime" onclick="orderByTimeClicked()">Time</a>,
    <a class="pointer" id="orderByTag" onclick="orderByTagClicked()">Hashtag</a>,
    <a class="pointer" id="orderByUser" onclick="orderByUserClicked()">User</a>
    <img src="@Href("~/Images/spinner.gif")" class="spinner" />
</span>
    <div id="content-container">
        @Html.Action("Index", "Post")
    </div>
}
<script type="text/javascript">
    function submitSearch() {
        var query = $("input#postSearch").val()
        
            $.get("Post/Search", { query: query }, function (resp) {
                $("#content-container").empty().append(resp);
            })
        
    }
</script>