@using Tweeter.Models

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p class="message-success">@TempData["message"]</p>
        </div>
    </section>
}
@if (WebSecurity.IsAuthenticated)
{
    @Html.Partial("_PostCreate", new Tweeter.Models.Post());
    @Html.Encode("Search by hashtag or username");
    <input type="text" id="postSearch" /><button onclick="submitSearch()">Search</button>
    <div id="content-container">
        @Html.Action("Index", "Post")
    </div>
}
<script type="text/javascript">
    function submitSearch() {
        var query = $("input#postSearch").val()
        
            $.get("Post/Search", { query: query }, function (resp) {
                $("#content-container").empty().append(resp);
            })
        
    }
</script>