@model Tweeter.Models.Post

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>&ldquo;@Model.postContent&rdquo;</h2><br/> - @Html.ActionLink(Model.creator.FirstName + " " + Model.creator.LastName, "Details", "User", new { id = Model.creator.Id }, null) at @Model.timestamp
    @if (Model.parent != null)
{
        Tweeter.Models.User parentCreator = ViewData["parentCreator"]!=null ? (Tweeter.Models.User)ViewData["parentCreator"]:null;
    <span>in reply to @Html.ActionLink(Model.creator.FirstName + " " + Model.creator.LastName, "Details", "User", new { id = parentCreator.Id }, null)
        's @Html.ActionLink("Post", "Details", new{ Id=Model.parent.Id})
    </span>
}
<br/>
@Model.likers.Count @(Model.likers.Count == 1 ? "person likes this" : "people like this")<br />
    @Html.ActionLink("Like", "Like", new { id = Model.Id })

</div>
<p>
    @Html.ActionLink("Back", "Index","Home")
</p>
