@model IEnumerable<Tweeter.Models.Post>
@{
    ViewBag.Title = "Index";
}
@{
    bool viewIrreplaceable = false;
    if(ViewBag.viewIrreplaceable != null){
        viewIrreplaceable = ViewBag.viewIrreplaceable;
    }
    int[] tags;
    if(ViewData["myHashTags"]!=null){
        tags = (int[])ViewData["myHashTags"];
    }
}


<div id="postList" class="@(viewIrreplaceable ? "irreplaceable" : "replaceable")">
    @if (!Model.Any())
    {
        if (ViewData["fromSearch"] != null) { 
        <span class="message-error">Your query returned no results</span><br />
        @Html.ActionLink("Back", "Index", "Home");
        }
        else
        {
            <span>Not seeing any posts? Try following some 
            @Html.ActionLink("users", "Index", "User")
            or some 
            @Html.ActionLink("hashtags", "Index", "Hashtag").
            </span>
        }
    }
    <table>
        @*Show a post at this level if it is not a comment, or the model does not contain the parent*@
       
        @foreach (var item in Model.Where(p=>p.parent == null || (!Model.Contains(p.parent))))
        {
            
                @Html.Partial("_Post",item)
        }
    </table>
</div>
<script type="text/javascript">
    var refreshInterval = window.setInterval(refreshPosts, 10000)
    var sort = "time"
    var canRefresh = true
    function commentClicked(id) {
        canRefresh = false
        //appear the box
        $("#commentBox" + id).show(500).find("input#postContent").focus()
    }
    function orderByUserClicked() {
        sort = "user"
        refreshPosts()
    }
    function orderByTimeClicked() {
        sort = "time"
        refreshPosts()
    }
    function orderByTagClicked() {
        sort = "tag"
        refreshPosts()
    }
    function submitComment(id){

    }
    $(".commentBox input#postContent").on("blur", function () {
        //disappear the box
        var id = $(this).parent().attr("id")
        $("#"+id).hide(500)
        canRefresh = true
    })
    function refreshPosts() {
        if ($("#content-container").children(".irreplaceable").length == 0 && canRefresh) {
            //show spinner
            $("img.spinner").show()
            canRefresh=false;
            $.get("Post/Index", {sort: sort}, function (resp) {
                $("#content-container").empty().append(resp);
                canRefresh = true;
                //hide spinner
                $("img.spinner").hide()
            })
        }
    }
    $("input#postContent").on('input', function () {
        //get the content length, subtract it from 200
        var length = $(this).val().length
        if (length >= 200) {
            $(this).val($(this).val().substr(0, 200));
            length = $(this).val().length
        }
        $(this).parent().siblings().find("#postCountdown").empty().append((200 - length) + " characters left")
    })
</script>
