@model Tweeter.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>@Model.FirstName @Model.LastName</h2>

<fieldset>
    <legend>User</legend>

    @Html.Action("Image", "User", new { name = Model.UserProfile.UserName, classname="avatar-full" })
        
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailAddress)
    </div>

    
</fieldset>
<p>
    @if (!ViewBag.isSelf) { 
        @Html.ActionLink((string)ViewBag.followText, "Follow", new { id=Model.Id })
    }
</p>
